@import "../scss/common.scss";
@import "../scss/themes.scss";

.Container {
  position: relative;
  width: 100%;
  height: spacing(12);
  padding: spacing(2);

  .Content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include max-width;

    .AppLogo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing(2);
      user-select: none;
      color: inherit;
      text-decoration: none;

      img {
        height: spacing(8);
        width: spacing(8);
      }

      .AppTitle {
        font-size: spacing(4);
        font-weight: 400;
      }
    }
  }
}

:global(.slate) .Container {
  @include app-component-slate-light;
  @include app-border-slate-light(border-bottom);
}
:global(.slate.dark) .Container {
  @include app-component-slate-dark;
  @include app-border-slate-dark(border-bottom);
}

:global(.gray) .Container {
  @include app-component-gray-light;
  @include app-border-gray-light(border-bottom);
}
:global(.gray.dark) .Container {
  @include app-component-gray-dark;
  @include app-border-gray-dark(border-bottom);
}

:global(.zinc) .Container {
  @include app-component-zinc-light;
  @include app-border-zinc-light(border-bottom);
}
:global(.zinc.dark) .Container {
  @include app-component-zinc-dark;
  @include app-border-zinc-dark(border-bottom);
}

:global(.neutral) .Container {
  @include app-component-neutral-light;
  @include app-border-neutral-light(border-bottom);
}
:global(.neutral.dark) .Container {
  @include app-component-neutral-dark;
  @include app-border-neutral-dark(border-bottom);
}

:global(.stone) .Container {
  @include app-component-stone-light;
  @include app-border-stone-light(border-bottom);
}
:global(.stone.dark) .Container {
  @include app-component-stone-dark;
  @include app-border-stone-dark(border-bottom);
}

:global(.nav-accent) .Container {
  background-color: accent() !important;
  border-bottom-color: rgba(255, 255, 255, 0.35) !important;
  color: white !important;
}
