@import "../../app/common.scss";
@import "../scss/themes.scss";

.Container {
  width: 100%;
  height: spacing(12);
  padding: spacing(2);

  .Content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include max-width;

    .AppLogo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing(2);
      user-select: none;

      img {
        height: spacing(8);
        width: spacing(8);
      }

      .AppTitle {
        font-size: spacing(4);
        font-weight: 400;
      }
    }

    .AccountGroup {
      display: flex;
      margin-left: auto;
      height: 100%;

      .Loader {
        @keyframes pulse {
          from {
            opacity: 0.1;
            transform: scale(0.9);
          }
          to {
            opacity: 0.9;
            transform: scale(1);
          }
        }

        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: spacing(1);

        div {
          background-color: currentColor;
          height: spacing(2);
          width: spacing(2);
          border-radius: spacing(2);
          transform-origin: 50% 50%;
          animation: pulse 0.75s ease-in-out alternate infinite;
        }

        div:nth-child(2) {
          animation-delay: 0.25s;
        }
        div:nth-child(3) {
          animation-delay: 0.5s;
        }
      }

      .Login {
        height: spacing(6);
        padding: spacing(4);
        display: grid;
        place-items: center;
        line-height: 0.15rem;
        border-radius: spacing(2);
      }
    }
  }
}

:global(.slate) .Container {
  @include app-component-slate-light;
  @include app-border-slate-light(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-slate-hover-light;
    }
  }
}
:global(.slate.dark) .Container {
  @include app-component-slate-dark;
  @include app-border-slate-dark(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-slate-hover-dark;
    }
  }
}

:global(.gray) .Container {
  @include app-component-gray-light;
  @include app-border-gray-light(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-gray-hover-light;
    }
  }
}
:global(.gray.dark) .Container {
  @include app-component-gray-dark;
  @include app-border-gray-dark(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-gray-hover-dark;
    }
  }
}

:global(.zinc) .Container {
  @include app-component-zinc-light;
  @include app-border-zinc-light(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-zinc-hover-light;
    }
  }
}
:global(.zinc.dark) .Container {
  @include app-component-zinc-dark;
  @include app-border-zinc-dark(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-zinc-hover-dark;
    }
  }
}

:global(.neutral) .Container {
  @include app-component-neutral-light;
  @include app-border-neutral-light(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-neutral-hover-light;
    }
  }
}
:global(.neutral.dark) .Container {
  @include app-component-neutral-dark;
  @include app-border-neutral-dark(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-neutral-hover-dark;
    }
  }
}

:global(.stone) .Container {
  @include app-component-stone-light;
  @include app-border-stone-light(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-stone-hover-light;
    }
  }
}
:global(.stone.dark) .Container {
  @include app-component-stone-dark;
  @include app-border-stone-dark(border-bottom);

  .AccountGroup {
    .Login:hover {
      @include app-component-stone-hover-dark;
    }
  }
}

:global(.nav-accent) .Container {
  background-color: accent() !important;
  border-bottom-color: rgba(255, 255, 255, 0.35) !important;
  color: white !important;
}
