@import "../../app/common.scss";

@mixin app-background-stone-light {
  background-color: #e7e5e4;
}

@mixin app-background-stone-dark {
  background-color: #1c1917;
}

@mixin app-component-stone-light {
  background-color: #f5f5f4;
  color: #0c0a09;
}

@mixin app-component-stone-dark {
  background-color: #292524;
  color: #fafaf9;
}

@mixin app-component-stone-hover-light {
  background-color: #d6d3d1;
}

@mixin app-component-stone-hover-dark {
  background-color: #44403c;
}

@mixin app-border-stone-light($props...) {
  @include borders-style(#d6d3d1, $props...);
}

@mixin app-border-stone-dark($props...) {
  @include borders-style(#44403c, $props...);
}
