@import "../../app/common.scss";

@mixin app-background-zinc-light {
  background-color: #e4e4e7;
}

@mixin app-background-zinc-dark {
  background-color: #18181b;
}

@mixin app-component-zinc-light {
  background-color: #f4f4f5;
  color: #09090b;
}

@mixin app-component-zinc-dark {
  background-color: #27272a;
  color: #fafafa;
}

@mixin app-component-zinc-hover-light {
  background-color: #d4d4d8;
}

@mixin app-component-zinc-hover-dark {
  background-color: #3f3f46;
}

@mixin app-border-zinc-light($props...) {
  @include borders-style(#d4d4d8, $props...);
}

@mixin app-border-zinc-dark($props...) {
  @include borders-style(#3f3f46, $props...);
}
